@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #131F24;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
  }
}

/* Custom Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #131F24;
}
::-webkit-scrollbar-thumb {
  background: #2E3C42;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3E4F57;
}
